<h1>Edit <%= @song.name %></h1>

<form action="/songs/<%= @song.slug %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label for="name">Name:</label><input type="text" name="song[name]" id="name" value="<%= @song.name %>">
  <br/>
  <br/>
  <label for="artist_name">Artist Name:</label>  <input type="text" name="artist[name]" value="<%= @song.artist.name %>" id="artist_name">
  <br/>
  <br/>
  <label for="name">Genre:</label>
  <input type="text" name="genre[name]" id="name"> </br>
  <br/>
  <br/>
  <input type="submit" value="Save Changes">
</form>
  <br/>
  <br/>
<form method="post" action="/songs/<%=@song.id%>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Song">
</form>